pyinstaller==6.18.0
tornado==6.5.5
configparser==7.2.0
paho-mqtt==1.6.1
requests==2.33.0
WSDiscovery==2.1.2
rtp==0.0.4
APScheduler==3.11.2
psutil==7.2.2
xmltodict==0.13.0
pyserial==3.5
crcmod==1.7
docker==7.1.0
onvif-zeep==0.2.12
chardet==5.2.0
staticx==0.14.1
paramiko==3.4.1
pillow==11.3.0
openpyxl==3.1.5
PyYAML==6.0.3
pysmb==1.2.13
scapy==2.6.1
impacket==0.13.0
beautifulsoup4==4.14.3
nuitka==2.8.10
loguru==0.7.3
mutagen==1.47.0
